[submodule "Rexal/vendor/spdlog"]
	path = Rexal/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rexal/vendor/GLFW"]
	path = Rexal/vendor/GLFW
	url = https://github.com/TheCherno/glfw
