[submodule "Rexal/vendor/spdlog"]
	path = Rexal/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rexal/vendor/GLFW"]
	path = Rexal/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Rexal/vendor/imgui"]
	path = Rexal/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Rexal/vendor/glm"]
	path = Rexal/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rexal/vendor/yaml-cpp"]
	path = Rexal/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Rexal/vendor/ImGuizmo"]
	path = Rexal/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
